.projects-wrapper {
  position: relative;
}

.project {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100vh;
  font-family: 'AvantGarde-ExtraLight', sans-serif;
  background-color: #fff;
  opacity: 0;

  &.active {
    z-index: 1;
    opacity: 1;
  }
}

.project__image {
  position: relative;
  height: 100vh;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
  }
}

.project__details {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 60px;
  font-size: 18px;
}

.project__title {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-right: 100px;
}

.project__description {
  display: inline-block;
  width: 420px;
}

.project__nav {
  position: absolute;
  top: 0;
  z-index: 4;
  display: block;
  width: 50%;
  height: 100vh;
}

.project__nav--prev {
  left: 0;
}

.project__nav--next {
  right: 0;
}

.project__counter {
  position: absolute;
  top: 40px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}